extends layout 

block content
    h1=title 

    if(toShow == null)
        h2 No instance to delete
    else 
        - let frappacinoid = toShow._id 
        - let frappacinosize = toShow.size
        - let frappaicnobrand = toShow.brand
        - let frappacinoorderNum = toShow.orderNum
        - let actionid = "/resource/frappacino/" + frappacinoid
        script let actionid = "#{actionid}"
        div
            div.row 
                div(class='frappacinoAttr mr-3') Frappacino ID is: 
                div #{frappacinoid}
            div.row 
                div(class='frappacinoAttr mr-3') Frappacino Size is:
                div #{frappacinosize}
            div.row 
                div(class='frappacinoAttr mr-3') Frappacino Brand is:
                div #{frappacinobrand}
            div.row 
                div(class='frappacinoAttr mr-3') Frappacino Order Num is:
                div #{frappacinoorderNum}

        button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete
        button(class="btn btn-secondary m-2" onclick="cancel()") Cancel


        script. 
            function cancel() {
                window.location.href='/gems'
            }
        script.
            function deleteOnid() {
                console.log("starting delete")
                fetch(actionid, {
                    method: 'DELETE'
                }).then((resp) => {
                    return resp.json();
                }).then((body) => {
                    alert("Delete succeeded");
                }).catch((error) => {
                    alert("Delete failed " + error);
                });
            }
