extends layout

block content
    h1=hello
    h2=title
    p=instructions
    
    if(toShow == null)
        h2 No instance to update
    else 
        - let frappacinoid = toShow._id
        - let frappacinosize = toShow.size
        - let frappacinobrand = toShow.brand
        - let frappacinoorderNum = toShow.orderNum
        .container
            .row
                .col-md-6
                    .card
                        .card-body
                        .h5 ID is: #{frappacinoid}
                        - let actionid = "/resource/frappacino/" + frappacinoid
                        form(id='FrappacinoForm', action=actionid, method="PUT")
                            .form-group
                            label.form-label(for='frappacinosize') Frappacino Size 
                            input#frappacinosize(type='text', name='frappacinosize', value=frappacinosize)
                            .form-group
                            label.form-label(for='frappacinobrand') Frappacino Brand
                            input#frappacinobrand(type='text', name='frappacinobrand', value=frappacinobrand)
                            .form-group
                            label.form-label(for='frappacinoorderNum') Frappacino Order Number
                            input#frappacinoorderNum(type='number', name='frappacinoorderNum', value=frappacinoorderNum)
                            .form-group 
                            button.btn.btn-primary(type="submit") Update

        script.
            document.forms['FrappacinoForm'].addEventListener('submit', (event) => {
                event.preventDefault();
                fetch(event.target.action, {
                    method: 'PUT',
                    body: new URLSearchParams(new FormData(event.target))
                }).then((resp) => {
                    return resp.text();
                }).then((body) => {
                    alert("Save succeeded")
                }).catch((error) => {
                    alert("Save failed " + error )
                });
            });